/* 全局字体和重置 */
* {
    font-family: 'PingFang SC', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #4A4A4A;
    background-color: #F5F5F5;
    line-height: 1.5;
    height: 100vh;
}

/* 主容器样式 */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background: #FFF;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* 文本输入区域 */
.input-area {
    margin: 20px 0;
}

/* 文本输入框 */
#typingInput {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #CCC;
    font-size: 18px;
    color: #333;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

#typingInput:focus {
    border-color: #66AFE9;
    outline: 0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(102,175,233,.6);
}

#typingInput.error {
    border-color: #E53935;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(233, 102, 102, 0.6);
}

/* 显示文本区域 */
#textToType {
    background-color: #ECEFF1;
    border-left: 5px solid #42A5F5;
    padding: 10px;
    margin: 20px 0;
}
/* 统计信息 */
#stats {
    background-color: #E0E0E0;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}

#stats p {
    margin: 10px 0;
}

/* 提示与错误信息 */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    color: #FFF;
    border-radius: 4px;

}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.error {
    background-color: #F44336;
}

/* 其他 */
#box {
    width: 75%;
    margin: 0 auto;
    padding: 15px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.logo_text {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}
